<div class="contact-container">
    <h1>Let's Connect!</h1>
    <p>
      I'm always open to discussing new projects, creative ideas, or opportunities to work together. Feel free to reach out or connect with me through the following platforms:
    </p>
  
    <div class="contact-links">
      <a mat-button color="primary" href="https://github.com/sahajpatel008" target="_blank">
        <mat-icon>code</mat-icon> GitHub
      </a>
      <a mat-button class="text-blue" href="https://www.linkedin.com/in/sahajpatel008/" target="_blank">
        <mat-icon>work</mat-icon> LinkedIn
      </a>
      <a mat-button color="warn" href="mailto:dev.sahajpatel008@gmail.com">
        <mat-icon>email</mat-icon> dev.sahajpatel008@gmail.com
      </a>
    </div>
  </div>
  