<div class="about-container">
  <!-- Profile Photo Section -->
  <div class="photo-section">
    <img src="assets/me_website.png" alt="Profile Photo" class="profile-photo" />
  </div>

  <!-- Description Section -->
  <div class="description-section">
    <h1>About Me</h1>
    <p>
      Hi, I'm Sahaj Patel, a passionate developer. I love to solve problems.... with software.
    </p>
  </div>

  <!-- Skills Section -->
  <div class="skills-container">
    <h2>Skills</h2>

    <!-- Languages -->
    <div class="skills-category">
      <h3>Languages</h3>
      <mat-chip-set class="skills-list">
        <mat-chip color="accent">Python</mat-chip>
        <mat-chip color="accent">C++</mat-chip>
        <mat-chip color="accent">Java</mat-chip>
        <mat-chip color="accent">JavaScript</mat-chip>
        <mat-chip color="accent">TypeScript</mat-chip>
        <mat-chip color="accent">Go</mat-chip>
        <mat-chip color="accent">SQL</mat-chip>
      </mat-chip-set>
    </div>

    <!-- Cloud & DevOps -->
    <div class="skills-category">
      <h3>Cloud, OS & DevOps</h3>
      <mat-chip-set class="skills-list">
        <mat-chip color="accent">Google Cloud Platform (GCP)</mat-chip>
        <mat-chip color="accent">Docker</mat-chip>
        <mat-chip color="accent">Kubernetes (K8s)</mat-chip>
        <mat-chip color="accent">Linux</mat-chip>
        <mat-chip color="accent">Git</mat-chip>
        <mat-chip color="accent">Github</mat-chip>
      </mat-chip-set>
    </div>

      <!-- AI & ML -->
    <div class="skills-category">
      <h3>Data Science & AI/ML</h3>
      <mat-chip-set class="skills-list">
        <mat-chip color="primary">LangChain</mat-chip>
        <mat-chip color="warn">LangGraph</mat-chip>
        <mat-chip color="primary">Pandas</mat-chip>
        <mat-chip color="primary">NumPy</mat-chip>
        <mat-chip color="primary">Matplotlib</mat-chip>
        <mat-chip color="primary">Scikit-learn</mat-chip>
        <mat-chip color="primary">Keras</mat-chip>
      </mat-chip-set>
  </div>

    <!-- Frameworks -->
    <div class="skills-category">
      <h3>Frameworks</h3>
      <mat-chip-set class="skills-list">
        <mat-chip color="primary"> Django</mat-chip>
        <mat-chip color="warn">Flask</mat-chip>
        <mat-chip color="primary">React</mat-chip>
        <mat-chip color="primary">Next.js</mat-chip>
        <mat-chip color="primary">gRPC</mat-chip>
        <mat-chip color="primary">RAG (LangChain)</mat-chip>
        <mat-chip color="primary">MCP</mat-chip>

      </mat-chip-set>
  </div>
    
    <!-- Databases -->
    <div class="skills-category">
      <h3>Databases</h3>
      <mat-chip-set class="skills-list">
        <mat-chip color="accent">PostgreSQL</mat-chip>
        <mat-chip color="accent">MySQL</mat-chip>
      </mat-chip-set>
    </div>



  <!-- Work Experience Section -->
  <div class="work-experience-container">
    <h2>Work Experience</h2>

    <div *ngFor="let experience of workExperiences" class="work-experience-item">
      <h3>
        {{ experience.title }}
        <span class="job-dates">{{ experience.dates }}</span>
      </h3>
      <p class="company-name">{{ experience.company }}</p>
      <ul>
        <li *ngFor="let responsibility of experience.responsibilities">{{ responsibility }}</li>
      </ul>
    </div>
  </div>

  <!-- Education Section -->
  <div class="education-container">
    <h2>Education</h2>

    <div *ngFor="let edu of education" class="education-item">
      <h3>
        {{ edu.school }}
        <span class="education-dates">{{ edu.dates }}</span>
      </h3>
      <h4 class="major">{{ edu.major }}</h4>
      <span class="education-location">{{ edu.location }}</span>
      <p class="education-gpa">GPA: {{ edu.gpa }}</p>
    </div>


    <!-- Hobbies & Interests Section -->
    <div class="hobbies-interests-section">
      <h2>Hobbies & Interests</h2>
      <mat-chip-set aria-label="Hobbies and Interests">
        <mat-chip color="primary" class="hobby-chip">
          <span class="material-icons">cake</span> Baking
        </mat-chip>
        <mat-chip color="accent" class="hobby-chip">
          <span class="material-icons">sports_soccer</span> Football
        </mat-chip>
        <mat-chip color="warn" class="hobby-chip">
          <span class="material-icons">beach_access</span> Travel
        </mat-chip>
      </mat-chip-set>
    </div>