<app-slider></app-slider>
<mat-slide-toggle></mat-slide-toggle>

<!-- <mat-sidenav-container class="sidenav-container">
  <mat-sidenav #sidenav mode="side" class="sidenav" [fixedInViewport]="true" fixedTopGap="64">
    <mat-nav-list>
      <a mat-list-item href="#about">About</a>
      <a mat-list-item href="#projects">Projects</a>
      <a mat-list-item href="#contact">Contact</a>
    </mat-nav-list>
  </mat-sidenav>

  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button mat-icon-button (click)="sidenav.toggle()" aria-label="Toggle navigation">
        <mat-icon>menu</mat-icon>
      </button>
      <span>My Portfolio</span>
    </mat-toolbar>

    <div class="content"> -->
      <!-- Your main content goes here -->
    <!-- </div>
  </mat-sidenav-content>
</mat-sidenav-container> -->


<mat-toolbar color="primary" class="top-navbar">
  <span>My Portfolio</span>
  <span class="spacer"></span>
  <a mat-button routerLink="/about" routerLinkActive="active-link">About</a>
  <a mat-button routerLink="/projects" routerLinkActive="active-link">Projects</a>
  <a mat-button routerLink="/contact" routerLinkActive="active-link">Contact</a>
</mat-toolbar>

<router-outlet></router-outlet>