<div class="projects-container">
    <h1>My Projects</h1>
    <div class="project-card" *ngFor="let project of projects">
      <h2>{{ project.name }}</h2>
      <p *ngIf="project.tech || project.date" class="tech-stack">
        <span *ngIf="project.tech">{{ project.tech }}</span>
        <span *ngIf="project.tech && project.date"> | </span>
        <span *ngIf="project.date">{{ project.date }}</span>
      </p>
      <p *ngIf="project.description">{{ project.description }}</p>
      <a mat-button color="primary" href="{{ project.githubLink }}" target="_blank" *ngIf="project.githubLink">
        <mat-icon>code</mat-icon> View on GitHub
      </a>
    </div>
  </div>
  