/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }


/* .sidenav-container {
    height: 100vh;
  }
  
  .sidenav {
    width: 200px;
  }
  
  .mat-toolbar {
    position: sticky;
    top: 0;
    z-index: 2;
  }
  
  .content {
    padding: 16px;
  }
   */

   .top-navbar {
    position: sticky;
    top: 0;
    z-index: 1000;
    display: flex;
    justify-content: space-between;
  }
  
  .spacer {
    flex: 1;
  }
  
  .content {
    padding: 16px;
  }
  
  .active-link {
    font-weight: bold;
    text-decoration: underline;
  }
  